ion-content {
    height: 100%;
}
ion-grid {
    height: 100%;
}
ion-col {
    text-align: center;
}
ion-avatar {
    background-color: black;
    margin: auto;
}
ion-input {
    width: 80%;
    margin:auto;
    text-align: center;
    background: white;
}